body{
  background-color: azure
}

h1{
  color: white;
  text-decoration: underline;
}

p{
  color: fuchsia;
  padding: 30px;
  border: 5px black;
  border-style: solid;
  margin: 25px;

}

ul{
  background-color: silver; 
  
}

div{
  max-width: 30%;
  padding: 50px;
  border: 3px rebeccapurple;
  border-style: dotted
}